/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
form {
  padding-top: 1.5em;
}

input, 
textarea, 
button{
	border-radius:0;
}

.comment {
	margin-bottom: 2em;
	textarea {
    	height: 160px;
	}
}

label[for=comment]{
	display: block;
}