/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navbar {
	margin-top: 1.5em;
}

.navbar-default {
  background-color: $color_bg-header;
  border-color: $color_border-button;
  position: relative;
  .navbar-nav > li {
    > a {
      color: $color_text-main;
    }
    > a:hover, 
      a:focus{
        color: $color_link-nav-hover;
    }
  }
}

.nav li {
  font-family: $font_nav;
  font-weight: bold;
  @include font-size(2.3);
}

.navbar-nav{
  background-color: $color_bg-body;
  border: 2px solid $color_bg-featured;
  float: right;
  margin-right: 15px;
  position: relative;
  width: 135px;
  z-index: 99999999;
  @media (min-width: $screen-sm-min + 1) {
   background-color: $color_bg-header;
   border: none;
   margin-right: 0;
   width: 375px;
  }
}

.paging-navigation ul {
    margin-top: 3em;
}

.paging-navigation li { 
  display: inline; 
}

a.page-numbers,
span.page-numbers {
  padding: .3em .7em;
  @include add-border(1px, $color_text-logo, all);
}

.paging-navigation .current {
    font-weight: bold;
}




