/*--------------------------------------------------------------
# Posts
--------------------------------------------------------------*/
.post {
  margin-bottom: 30px;
  h2 {
  	a,
  	a:visited {
  		color: $color_text-headings;
  	}
    a:hover {
      color: $color_link-hover;
    }
  }
  ul {
	padding-left:0;
	}
}

.by-line {
  padding-bottom: 10px;
}

.post-meta {
	li {
	  display: inline-block;
	}
}

.page-title {
  font-style: italic;
  padding-bottom: 10px;
}

.comment-list {
  list-style:none;
  padding-left:0;
}

.comment-reply-title {
  margin-bottom: 0px;
}

/* Nested comments? They are threaded and nested already, you just need to add your own styling to finalize!
 * For example with some margin, like the line below ;) Delete, modify, change classes in HTML if you desire another style */
 .comment .children { margin-left: 1.5em; }
