/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/ 
.featured{
  background: $color_bg-featured;
  padding: 1em;
}

.featured a {
  color: $color_link-featured;
  &:hover {
    color: $color_link-hover;
  }
}

