/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
#sidebar {
	margin: 0 0 2em;
	ul {
		padding: 15px;
	}
}

.sidebar-featured {
	background-color: $color_bg-body;
    padding: .3em .7em 1em;
    h2{
        font-family: $font_nav;
    }
}

.search-field,
.search-submit {
	vertical-align: top;
}

.search-field {
	width: 165px;
}

.search-submit {
	background-color: $color_bg-body;
	border: none;
}

.cat-post-item img {
	padding-bottom: 4px;
}
